address, cite, dfn, em, var {
  font-style: normal;
}

a.btn-buy, a.btn-add, a.btn-order, a.btn-continue, a.btn-nostock, a.btn-noorder, a.btn-pay {
  background: url("../img/bg-btn.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 36px;
  width: 131px;
}

.flowsteps .num3 li, .flowsteps .num3 .last {
  width: 33.3%;
}

#content {
  text-align: left !important;
  width: 1200px;
  margin: 0 auto;
}

.float-bar .del-items, .float-bar .select-items, .float-bar .del-invalid, .float-bar .del-all {
  cursor: pointer;
  float: left;
}

.flowsteps .current, .flowsteps .current span {
  background-color: #546f60;
  background-position: 0 0;
  color: #fff;
}

.flowsteps li, .flowsteps span {
  background: url(../img/flowsteps.png) no-repeat 0 0;
  color: #888;
}

.flowsteps {
  height: 23px;
  margin-top: 5px;
}

.flowsteps ol {
  position: relative;
  overflow: hidden;
  background: #e4e4e4;
}

.flowsteps .num3 li {
  width: 33.3%;
}

.flowsteps li {
  float: left;
  height: 23px;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
}

.flowsteps span {
  display: block;
}

.flowsteps span.first {
  background-position: 0 -69px;
}

.flowsteps .next {
  background-position: 0 -23px;
}

.flowsteps .next span {
  background-position: 0 -22px;
}

.flowsteps .last {
  width: 33.3%;
}

#cart {
  margin-top: 15px;
}

.total-fee-info {
  float: right;
  margin-right: 10px;
}

.total-fee-info .total2 {
  color: #f60;
  font-size: 15px;
  font-weight: bold;
}

.order-table {
  width: 100%;
  margin-bottom: 20px;
}

.order-table thead tr {
  background-color: #f7efd9;
  text-align: center;
  height: 40px;
}

.order-table thead .s-chk {
  width: 120px;
}

.order-table thead th {
  text-align: center;
  color: #404040;
  border-top: 2px solid #d7c2ac;
  border-bottom: 1px solid #d7c2ac;
}

.order-table tbody tr {
  background: #fffcf3;
}

.order-table tbody tr.selected {
  background: #fff9e7;
}

.order-table tbody td {
  color: #404040;
  padding: 10px 5px;
  border-bottom: 1px solid #d7c2ac;
  text-align: center;
}

.order-table tbody .s-title {
  width: 300px;
  text-align: left;
  padding-right: 6px;
}

.order-table tbody .s-title a {
  color: #546f60;
}

.order-table tbody .s-title .cartimg {
  height: 60px;
  overflow: hidden;
  vertical-align: middle;
  width: 60px;
  float: left;
  background: #fff;
  margin-right: 15px;
  margin-left: 50px;
}

.order-table tbody .s-title span {
  margin-right: 10px;
  color: #757575;
  margin-top: 2px;
}

.order-table tbody .s-lack {
  background-color: #ffdebe;
  padding: 5px 5px;
}

.order-table tbody .s-amount .minus {
  text-indent: 1px;
  margin-right: 3px;
  margin-left: 0;
}

.order-table tbody .s-amount a {
  display: inline-block;
  width: 9px;
  height: 9px;
  line-height: 9px;
  text-align: center;
  background: white;
  font-family: arial;
  overflow: hidden;
  color: #555;
  border: 1px solid #dbdbdb;
  margin: 5px 0 0;
}

.order-table tbody .s-amount .text {
  display: inline-block;
  width: 28px;
  padding: 1px 3px;
  text-align: right;
  color: #666;
  height: 16px;
}

.order-table tbody .s-amount .plus {
  margin-left: 5px;
}

.order-table tbody .s-agio {
  color: #404040;
}

.order-table tbody .s-total em {
  color: #f60;
  font-size: 12px;
  font-weight: bold;
}

.order-table tbody .s-del a {
  display: block;
  text-decoration: none;
  color: #757575;
  outline: 0;
}

.order-table tbody .s-del a:hover {
  text-decoration: underline;
  color: #c7744f;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.float-bar {
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  height: 33px;
  line-height: 33px;
  text-align: right;
}

.float-bar .mg-left {
  margin-left: 20px;
}

.float-bar .total-price {
  color: #404040;
  margin-right: 10px;
}

.float-bar .total-price span {
  margin: 0 4px;
}

.float-bar .total {
  color: #F60;
  font: 24px tahoma;
  margin-right: 3px;
  text-shadow: 0 1px 1px #CCC;
  vertical-align: top;
}

.cart-r-btn a.btn-continue, .cart-r-btn a.btn-order, .cart-r-btn a.btn-noorder {
  float: left;
  margin-left: 20px;
}

.cart-btn {
  clear: both;
  height: 50px;
  padding: 20px 0 0;
  width: 100%;
}

.cart-r-btn {
  float: right;
  position: relative;
}

a.btn-continue {
  background-position: 0 -108px;
}

.cart-r-btn a.btn-noorder {
  cursor: default;
}
