@charset "UTF-8";
.cover {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  cursor: crosshair;
  background: url(../img/mask-bg.png) repeat;
}

a:hover {
  text-decoration: underline;
  color: #c7744f;
}

.ks-overlay {
  position: absolute;
  z-index: 100;
}

.ts-cart-info, .ts-cart-error, .ts-cart-Prompt, .ts-close, .ts-action-hint .ts-long-btn, .ts-action-hint .ts-long-btn1 {
  background: url("../img/cartbg.png") no-repeat scroll 0 0 transparent;
}

.ts-cart-info {
  background-color: #F0FFE5;
  background-position: -132px 18px;
  border: 1px solid #4DBF00;
  color: #404040;
  min-height: 112px;
  height: 112px;
  width: 363px;
  z-index: 99999;
}

.ts-action-hint {
  margin-left: 60px;
}

.ts-action-hint h4 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.ts-action-hint p {
  margin: 8px 0 10px;
  color: #404040;
}

.ts-action-hint em {
  color: #FF4A00;
  font-weight: bold;
  margin: 0 5px;
}

.ts-action-hint .ts-price {
  font-size: 16px;
  color: #FF4A00;
}

.ts-action-hint strong {
  margin: 0 5px;
}

.ts-action-hint .ts-skin {
  margin-right: 25px;
  padding: 0;
}

.ts-action-hint .ts-long-btn {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 100px;
}

.ts-action-hint .ts-long-btn1 {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 100px;
  background-position: 0 -100px;
}

.ks-ext-close {
  height: 18px;
  width: 18px;
  border: 1px solid transparent;
  position: absolute;
  right: 6px;
  top: 6px;
  vertical-align: middle;
  outline: 0;
  overflow: hidden;
  cursor: pointer;
}

.ks-ext-close .ks-ext-close-x {
  display: block;
  background: no-repeat;
  background-image: url("../img/close.png");
  height: 13px;
  text-indent: -9999px;
  width: 13px;
  margin: 2.5px;
}

.left-book1 {
  overflow: hidden;
  width: 220px;
  border: 1px solid #d8d8d8;
  margin-top: 10px;
  padding-bottom: 8px;
}

.qa_null {
  padding: 20px 0 5px 20px;
  position: relative;
}

.qa_null a {
  display: block;
  width: 92px;
  height: 19px;
  background: url("../img/bg.png") scroll 0 -940px transparent no-repeat;
  position: absolute;
  top: 18px;
  right: 5px;
  line-height: 16px;
  padding: 2px 0 0 23px;
  color: #404040;
}

.item, .comment, .qa {
  width: 750px;
  overflow: hidden;
}

.item h2, .comment h2, .qa h2 {
  overflow: hidden;
  margin-top: 20px;
  background: url("../img/bg_intro.png") 0 top no-repeat;
}

.item h2 span, .comment h2 span, .qa h2 span {
  background: url("../img/bg_intro.png") right -29px no-repeat;
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 0 7px 20px;
}

.item h4 {
  background-color: #f8f8f8;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 18px;
}

.item .customize {
  padding: 15px 15px 10px 18px;
  line-height: 26px;
  width: 720px;
  overflow: hidden;
}

ul.inner-blend-tab {
  background: url("../img/pl_bg.jpg") repeat-x scroll 0 0 transparent;
  border-left: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6;
  height: 41px;
  overflow: visible;
}

ul.inner-blend-tab li {
  background: url("../img/pl2.jpg") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  float: left;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  margin-top: 6px;
  text-align: center;
  text-decoration: none;
  width: 133px;
}

ul.inner-blend-tab li.selected {
  background: url("../img/pl1.jpg") no-repeat scroll 0 0 transparent;
  font-weight: bold;
}

.comm_null {
  padding: 20px 0 5px 20px;
  position: relative;
}

.comm_null a {
  display: block;
  width: 92px;
  height: 19px;
  background: url("../img/bg.png") scroll 0 -940px transparent no-repeat;
  position: absolute;
  top: 18px;
  right: 18px;
  line-height: 16px;
  padding: 2px 0 0 10px;
  color: #404040;
}

span.bds_more, .bds_tools a {
  display: block;
  font-family: '宋体',Arial;
  height: 16px;
  float: left;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 22px;
}

.tab_title, .tab_title li, .tab_title li a, .tab_title li a.current, .tab_title li.current span, .tab_title li.current2, .tab_title li.current2 span {
  background: url("../img/bg_tab.png") no-repeat;
}

.left-book1 {
  overflow: hidden;
  width: 220px;
  border: 1px solid #d8d8d8;
  margin-top: 10px;
  padding-bottom: 8px;
}

.left-book1 ul {
  margin-top: 8px;
}

.left-book1 ul li {
  line-height: 21px;
  padding: 0 15px;
}

.left-title {
  font-size: 14px;
  position: relative;
  background: none repeat scroll 0 0 #f8f8f8;
  border-bottom: 1px solid #d8d8d8;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  color: #546f60;
  padding: 0 15px;
}

.left-title a {
  background: url("../img/bg.png") no-repeat scroll 0 -200px transparent;
  color: #363636;
  font-size: 12px;
  padding-left: 15px;
  position: absolute;
  right: 8px;
  top: 0;
}

#content {
  width: 1200px;
  margin: auto;
}

#content .crumbs {
  margin: 10px 0 15px 8px;
  height: 18px;
  line-height: 18px;
}

#content .crumbs span {
  float: left;
}

#content .crumbs a {
  float: left;
  margin-right: 4px;
  padding: 0 10px 0 0;
  background: url(../img/crumbs.png) no-repeat 100% 50%;
}

#content .col-main {
  float: left;
  width: 100%;
}

#content .col-main .left-sub {
  float: left;
  width: 220px;
}

#content .col-main .left-sub .left-book {
  height: 330px;
  overflow: hidden;
  width: 220px;
  border: 1px solid #d8d8d8;
  margin-top: 10px;
}

#content .col-main .left-sub .left-book .left-title {
  font-size: 14px;
  background: none repeat scroll 0 0 #f8f8f8;
  border-bottom: 1px solid #d8d8d8;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  color: #546f60;
  padding: 0 15px;
}

#content .col-main .left-sub .zt-ul {
  margin-top: 10px;
}

#content .col-main .main-wrap {
  position: relative;
  margin-left: 316px;
}

#content .col-main .main-wrap h1 {
  line-height: 23px;
  padding: 10px 0 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  overflow: hidden;
}

#content .col-main .main-wrap .h1_title {
  margin: 10px 0 18px 0;
  border-bottom: dashed 1px #d8d8d8;
}

#content .col-main .main-wrap .book {
  width: 247px;
  padding-left: 17px;
  margin-top: 28px;
  float: left;
  position: relative;
}

#content .col-main .main-wrap .book .imgBox {
  border: solid 1px #d8d8d8;
  width: 220px;
  height: 220px;
  line-height: 220px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

#content .col-main .main-wrap .book .imgBox .bigPic {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 0px;
  left: 260px;
  width: 220px;
  height: 220px;
  z-index: 9999;
}

#content .col-main .main-wrap .book .imgBox .bigPic img {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
}

#content .col-main .main-wrap .book .imgBox .showPic {
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 220px;
  border: 1px solid #dadada;
  box-sizing: border-box;
}

#content .col-main .main-wrap .book .imgBox .imgBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#content .col-main .main-wrap .book .imgBox img {
  display: block;
  margin: 10px auto;
  height: 200px;
  width: 200px;
  vertical-align: middle;
}

#content .col-main .main-wrap .book #sellsum {
  width: 200px;
  margin: 10px 0 0 10px;
  color: #666;
  padding-bottom: 5px;
  border-bottom: dashed 1px #ececec;
}

#content .col-main .main-wrap .book #sellsum .r {
  color: #c7744f;
  font-weight: bold;
}

#content .col-main .main-wrap .info {
  width: 550px;
  float: left;
}

#content .col-main .main-wrap .info .promote {
  width: 365px;
  margin-top: 10px;
}

#content .col-main .main-wrap .info .promote .msg {
  margin-top: 10px;
}

#content .col-main .main-wrap .info .promote .msg .msg-content {
  display: inline;
}

#content .col-main .main-wrap .info .promote .msg .msg-title {
  display: inline;
  padding-right: 2px;
  font-weight: bold;
}

#content .col-main .main-wrap .info .promote .msg .msg-icon {
  float: left;
  width: 16px;
  height: 16px;
  margin: 1px 5px 1px 0;
  font-size: 0;
  line-height: 0;
  background: url(../img/msg.png) no-repeat 0 -160px;
}

#content .col-main .main-wrap .info .promote .msg .msg-notice {
  border: 1px solid #ffcc7f;
  background: #ffffe5;
}

#content .col-main .main-wrap .info .promote .msg .msg-notice .msg-icon {
  background-position: 0 -240px;
}

#content .col-main .main-wrap .info .promote .msg .msg-default {
  padding: 2px 5px;
  border: 1px solid #ffcc7f;
  background: #ffffe5;
  position: relative;
  min-height: 20px;
}

#content .col-main .main-wrap .info .shareto {
  margin-top: 10px;
}

#content .col-main .main-wrap .info .shareto .share-area {
  position: relative;
  float: left;
  margin-left: 10px;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare {
  z-index: 999999;
  padding-bottom: 2px;
  font-size: 12px;
  float: left;
  text-align: left !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare span.bds_more {
  background: url(../img/is.png) no-repeat 0 5px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare a {
  background: url(../img/is.png) no-repeat;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_qzone {
  background-position: 0 -75px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_tsina {
  background-position: 0 -115px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_tqq {
  background-position: 0 -235px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_renren {
  background-position: 0 -195px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_douban {
  background-position: 0 -395px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_baidu {
  background-position: 0 -1950px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_kaixin001 {
  background-position: 0 -275px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_tsohu {
  background-position: 0 -435px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_tqf {
  background-position: 0 -315px !important;
}

#content .col-main .main-wrap .info .shareto .share-area #bdshare .bds_taobao {
  background-position: 0 -555px !important;
}

#content .col-main .main-wrap .info a {
  color: #546f60;
}

#content .col-main .main-wrap .info a:hover {
  color: #c7744f;
}

#content .col-main .main-wrap .info a.btn-buy:hover {
  background-position: -131px 0 !important;
}

#content .col-main .main-wrap .info a.btn-add:hover {
  background-position: -131px -36px !important;
}

#content .col-main .main-wrap .info p {
  line-height: 26px;
  padding-bottom: 4px;
  height: 26px;
}

#content .col-main .main-wrap .info .price_d .num {
  font-size: 24px;
  color: #c7744f;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin-top: -2px;
}

#content .col-main .main-wrap .info .vip a {
  margin-left: 2px;
  color: #FF4A00;
}

#content .col-main .main-wrap .info .youhui {
  margin-left: 10px;
  color: #FF4A00;
}

#content .col-main .main-wrap .info #jieshao {
  margin-left: 10px;
  color: #FF4A00;
}

#content .col-main .main-wrap .info .price_m span {
  margin-left: 17px;
  color: #666;
  display: inline-block;
}

#content .col-main .main-wrap .info .price_m .o {
  color: #FF4A00;
  margin-left: 0;
}

#content .col-main .main-wrap .info .kucun .g {
  color: #546f60;
  font-weight: bold;
}

#content .col-main .main-wrap .info .pinlei {
  vertical-align: middle;
}

#content .col-main .main-wrap .info .yunfei {
  line-height: 26px;
  padding-bottom: 4px;
  height: 26px;
  z-index: 1000;
}

#content .col-main .main-wrap .info .yunfei #selected_area {
  display: inline;
  position: relative;
  z-index: 1000;
  margin: 0 5px;
  padding-bottom: 2px;
}

#content .col-main .main-wrap .info .yunfei #selected_area #province {
  background: url("../img/bg.png") no-repeat scroll 100% -1001px transparent;
  padding-right: 12px;
  color: #546F60;
  z-index: 20;
}

#content .col-main .main-wrap .info .yunfei #selected_area .address {
  background-color: #FFFFFF;
  border: 2px solid #DFC9B2;
  height: auto;
  padding-bottom: 10px;
  width: 312px;
  z-index: 10000;
  position: absolute;
  visibility: hidden;
}

#content .col-main .main-wrap .info .yunfei #selected_area .address .ks-stdmod-header {
  background: none repeat scroll 0 0 #FDF2E3;
  border-bottom: 1px solid #F2E2D3;
  height: 24px;
  padding: 5px 5px 0 8px;
  font-size: 12px;
  display: block;
  height: 24px;
  line-height: 24px;
  position: relative;
}

#content .col-main .main-wrap .info .yunfei #selected_area .address #address_list {
  color: #666666;
  overflow: hidden;
  padding: 5px 0 0 12px;
  width: auto;
}

#content .col-main .main-wrap .info .yunfei #selected_area .address #address_list a {
  background: none repeat scroll 0 0 transparent !important;
  border: medium none !important;
  color: #404040;
  display: inline-block;
  float: left;
  margin: 0 !important;
  padding: 4px 0;
  text-decoration: none;
  width: 50px;
  line-height: 18px;
}

#content .col-main .main-wrap .info .yunfei #selected_area #yunfei {
  line-height: 26px;
}

#content .col-main .main-wrap .info .book_detailed {
  border-top: 1px solid #ededed;
  line-height: 21px;
  padding-top: 10px;
  width: 466px;
}

#content .col-main .main-wrap .info .book_detailed p {
  padding-bottom: 4px;
  line-height: 21px;
  height: auto;
}

#content .col-main .main-wrap .info .property {
  width: 352px;
  border: 1px solid #e5e5e5;
  background-color: #F8F8F8;
  padding: 16px 5px 17px 6px;
  margin-top: 4px;
}

#content .col-main .main-wrap .info .property .num {
  clear: left;
  line-height: 22px;
  margin-left: 14px;
  height: 50px;
}

#content .col-main .main-wrap .info .property .num .text {
  width: 28px;
  height: 15px;
  border: 1px solid #a5acb2;
  margin-right: 10px;
  margin-left: 3px;
  background-color: #fff;
  padding: 2px;
  vertical-align: middle;
}

#content .col-main .main-wrap .info .property .but {
  position: relative;
  margin-top: 13px;
  z-index: 10;
}

#content .col-main .main-wrap .info .property .but a {
  margin: 0 23px 0 14px;
  float: left;
  display: inline;
}

#content .col-main .main-wrap .info .property .but a.btn-buy {
  background: url("../img/bg-btn.png") no-repeat scroll 0 0 transparent;
  height: 36px;
  width: 131px;
}

#content .col-main .main-wrap .info .property .but a.btn-add {
  background: url("../img/bg-btn.png") no-repeat scroll 0 -36px transparent;
  height: 36px;
  width: 131px;
}

#content .col-main .main-wrap .info .property:hover {
  border: 1px solid #ffb694;
  background-color: #fff3d9;
}

#content .col-main .adv img {
  width: 100%;
}

#content .col-main .tab_title {
  width: 750px;
  height: 32px;
  margin-top: 20px;
  background: #fff url("../img/bg_tab.png") left -123px repeat-x;
  position: relative;
  float: left;
}

#content .col-main .tab_title li {
  height: 27px;
  float: left;
  margin-right: 2px;
  background-position: right -54px;
  line-height: 24px;
}

#content .col-main .tab_title li a {
  float: left;
  background-position: left 0;
  padding: 3px 23px 0 25px;
  color: #404040;
}

#content .col-main .tab_title li a strong {
  color: #c30;
  font-weight: bold;
}

#content .col-main .tab_title li.current2 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-position: right -81px;
}

#content .col-main .tab_title li.current2 span {
  float: left;
  background-position: left -27px;
  padding: 3px 18px 0;
}
