#left-menu {
  float: left;
  height: 266px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 208px;
}

#left-menu .menulist {
  background: #e7f8ef;
  border-left: 1px solid #8ebba2;
  border-right: 1px solid #8ebba2;
  border-bottom: 1px solid #8ebba2;
  height: 268px;
  width: 100%;
  position: absolute;
  padding-top: 8px;
  box-shadow: 0 2px 2px rgba(84, 111, 96, 0.2);
}

#left-menu .menulist .menuli {
  color: #546f60;
  letter-spacing: 2px;
  border-bottom: 1px solid #e7f8ef;
  border-top: 1px solid #e7f8ef;
  position: relative;
  z-index: 1;
  height: 30px;
}

#left-menu .menulist .menuli .menupop {
  background-color: #fff;
  border: 1px solid #8ebba2;
  border-right: 1px solid #8ebba2;
  border-left: 1px solid #8ebba2;
  left: 208px;
  min-height: 300px;
  box-shadow: 0 2px 2px rgba(84, 111, 96, 0.2);
  position: absolute;
  top: -1px;
  width: 560px;
  z-index: 10;
  letter-spacing: 1px;
}

#left-menu .menulist .menuli .menupop .item {
  float: left;
  padding: 5px;
  width: 550px;
}

#left-menu .menulist .menuli .menupop .item dl {
  border-bottom: 1px dashed #d8d8d8;
  float: left;
  padding: 2px 0;
  width: 545px;
}

#left-menu .menulist .menuli .menupop .item dl dt {
  display: block;
  float: left;
  line-height: 26px;
  padding-left: 5px;
  text-align: left;
  width: 85px;
}

#left-menu .menulist .menuli .menupop .item dl dt a {
  border: medium none;
  color: #546f60;
  float: left;
  font-weight: bold;
}

#left-menu .menulist .menuli .menupop .item dl dd {
  float: left;
  line-height: 26px;
  width: 455px;
}

#left-menu .menulist .menuli .menupop .item dl dd a {
  display: inline-block;
  padding: 0 5px 0 8px;
}

#left-menu .menulist .menuli .menutitle {
  font-size: 14px;
  display: block;
  height: 30px;
  line-height: 30px;
  position: relative;
  right: -1px;
  padding-left: 30px;
}

#left-menu .menulist .menuli .menutitle s {
  background: url("../img/bg.png") no-repeat scroll 0 -1128px transparent;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 45px;
  position: absolute;
  top: 7px;
}

#left-menu .menulist .on {
  background-color: #fff;
  border-bottom: 1px solid #8ebba2;
  border-top: 1px solid #8ebba2;
  z-index: 11;
  height: 30px;
}

#header #topad {
  width: 1200px;
  margin: 0 auto;
}

#header #head-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  height: 77px;
  position: relative;
  z-index: 100;
}

#header #head-wrapper .logo {
  position: relative;
  float: left;
  padding-top: 0;
}

#header #head-wrapper .tss-search {
  position: absolute;
  right: 190px;
  top: 20px;
  z-index: 1;
}

#header #head-wrapper .tss-search .tsearch-fields {
  width: 700px;
  height: 34px;
  background: url(../img/bg.png) 0 -48px repeat-x;
  margin-bottom: 3px;
}

#header #head-wrapper .tss-search .tsearch-fields label {
  position: absolute;
  top: 4px;
  left: 10px;
  z-index: 11;
  height: 18px;
  padding: 3px 0 3px 20px;
  line-height: 18px;
  background: url(../img/bg.png) 3px -172px no-repeat;
  color: #b8b8b8;
  display: none;
  cursor: text;
}

#header #head-wrapper .tss-search .tsearch-fields #kw {
  border-style: none;
  border-color: inherit;
  border-width: 0;
  width: 398px;
  background: 0;
  position: absolute;
  z-index: 10;
  top: 4px;
  left: 8px;
  height: 18px;
  line-height: 18px;
  padding: 3px 0;
}

#header #head-wrapper .tss-search .tsearch-fields #su {
  background: url(../img/bg.png) 0 -135px no-repeat;
  width: 100px;
  height: 25px;
  position: absolute;
  right: 2px;
  top: 3px;
  border: 0;
  cursor: pointer;
}

#header #head-wrapper .tss-search .tsearch-fields #select-type {
  position: absolute;
  right: 102px;
  top: 3px;
  width: 120px;
}

#header #head-wrapper .tss-search .tsearch-fields #select-type .select-t {
  background: url(../img/search.png) no-repeat scroll 0 0 #f7f7f7;
  cursor: pointer;
  line-height: 25px;
  padding-left: 10px;
  padding-top: 1px;
}

#header #head-wrapper .tss-search .tsearch-fields #select-type .select-t li {
  height: 25px;
  line-height: 25px;
}

#header #head-wrapper .tss-search .tsearch-fields #select-type .options {
  display: none;
}

#header #head-wrapper .tss-search .tsearch-fields #select-type .options .all-field {
  cursor: pointer;
  font-weight: 700;
  line-height: 20px;
  padding-left: 16px;
  padding-top: 8px;
}

#header #head-wrapper .tss-search .tsearch-fields #select-type .options li {
  color: #3f3f3f;
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  padding-left: 38px;
}

#header #head-wrapper .tss-search .tsearch-fields .rc-tp-l {
  height: 34px;
  width: 10px;
  background: url(../img/bg.png) 0 -9px no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

#header #head-wrapper .tss-search .tsearch-fields .rc-tp-r {
  height: 34px;
  width: 3px;
  background: url(../img/bg.png) 0 -89px no-repeat;
  position: absolute;
  right: -1px;
  top: 0;
}

#header #head-wrapper .tsearch-action {
  position: absolute;
  right: 8px;
  top: 28px;
  width: 55px;
  height: 34px;
  padding-left: 10px;
  margin-top: -2px;
}

#header #head-wrapper .tsearch-hot {
  position: absolute;
  right: 240px;
  top: 54px;
  height: 28px;
  line-height: 28px;
  width: 525px;
  z-index: 106;
}

#header #head-wrapper .tsearch-hot a {
  margin-right: 6px;
  color: #666;
}

#header #head-wrapper a:hover {
  color: #f60;
}

#header #header-nav {
  background: none repeat scroll 0 0 #678876;
  position: relative;
  z-index: 88;
  height: 36px;
}

#header #header-nav #main-nav {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#header #header-nav #main-nav .channel-nav {
  float: left;
  position: relative;
}

#header #header-nav #main-nav .channel-nav .channel-cate {
  float: left;
  background-color: #546f60;
  height: 36px;
}

#header #header-nav #main-nav .channel-nav .channel-cate a.cate_all {
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
  display: inline-block;
  height: 33px;
  line-height: 33px;
  text-align: center;
  width: 210px;
}

#header #header-nav #main-nav .channel-nav .channel-cate a.cate_all:hover .cate_ico {
  background-position: -17px -1108px;
}

#header #header-nav #main-nav .channel-nav .channel-cate .cate_ico {
  background: url(../img/bg.png) no-repeat scroll 0 -1108px transparent;
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 13px;
  margin-left: 5px;
}

#header #header-nav #main-nav .channel-nav .channel-menu {
  float: left;
}

#header #header-nav #main-nav .channel-nav .channel-menu li {
  float: left;
  letter-spacing: 2px;
}

#header #header-nav #main-nav .channel-nav .channel-menu a {
  font-size: 15px;
  display: inline-block;
  padding: 0 18px;
  height: 33px;
  line-height: 33px;
  color: #fff;
}

#header #header-nav #main-nav .channel-nav .channel-menu a:hover {
  border-bottom: solid 3px #c7754f;
  background-color: #546f60;
}

#header #header-nav #main-nav .channel-nav .channel-menu #yueduka {
  font-size: 18px;
}

#header #header-nav #main-nav .channel-nav .channel-menu .dot_yueduka {
  background: url(../img/re.png) no-repeat scroll 0 0 transparent;
  display: inline-block;
  font-size: 2px;
  color: red;
  height: 18px;
  position: absolute;
  left: 392px;
  top: -9px;
  width: 100px;
  z-index: 9999;
}

#header #header-sub-nav {
  background: none repeat scroll 0 0 #f5f3f2;
  border-bottom: 1px solid #dad9d8;
}

#header #header-sub-nav ul {
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;
  padding-left: 220px;
}

#header #header-sub-nav ul li {
  float: left;
  padding: 0 8px;
  white-space: nowrap;
}

#header #header-sub-nav ul li a:hover {
  text-decoration: underline;
  color: #c7744f;
}

#header #header-sub-nav .divider-vertical {
  background-color: #888;
  border-right: 1px solid #e3e3e3;
  height: 11px;
  margin: 10px 4px;
  overflow: hidden;
  width: 1px;
  padding: 0;
}
