#site-nav .quick-menu .cart s, #site-nav .quick-menu li, #site-nav .search .menu-bd button, #site-nav .search .menu-hd s {
  background: transparent url(../img/header-2.png) no-repeat 999em 0;
}

#site-nav {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 22px;
  line-height: 22px;
  padding: 2px 0;
  color: #555;
  z-index: 10000;
}

#site-nav .login-info {
  float: left;
  color: #000;
}

#site-nav .login-info a {
  margin-right: 8px;
  color: #666;
}

#site-nav .menu:hover .menu-bd {
  display: block;
}

#site-nav .menu:hover .menu-hd {
  margin: 2px 0 0;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  background: #fff;
}

#site-nav a:hover {
  color: #f50;
}

#site-nav .menu-hd {
  width: 48px;
  display: block;
  position: relative;
  height: 21px;
  line-height: 17px;
  margin: 3px 1px 0;
  padding: 0 22px 0 10px;
  cursor: pointer;
  z-index: 10002;
}

#site-nav .menu-hd b {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: #666 #fafafa #fafafa;
  font-size: 0;
  line-height: 0;
  transition: transform .2s ease-in;
}

#site-nav .menu-bd {
  display: none;
  position: absolute;
  right: 0;
  top: 21px;
  background: #fff;
  border: 1px solid #d8d8d8;
  z-index: 10001;
  height: 50px;
  line-height: 1.7;
}

#site-nav .mytaoshu .menu-bd-panel {
  padding: 4px 10px;
}

#site-nav .quick-menu {
  position: absolute;
  right: 0;
  top: 1px;
}

#site-nav .quick-menu li.menu-item {
  position: relative;
  padding: 0;
}

#site-nav .quick-menu li {
  float: left;
  margin-left: -1px;
  padding: 1px 10px 0;
  background: transparent url(../img/header-2.png) no-repeat 999em 0;
  background-position: right 6px;
}

#site-nav .quick-menu li .menu {
  position: relative;
}

#site-nav .quick-menu .cart {
  position: relative;
  padding: 0;
}

#site-nav .quick-menu .cart s {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 5px;
  top: 1px;
  background: transparent url(../img/header-2.png) no-repeat 999em 0;
  background-position: -100px -21px;
}

#site-nav .quick-menu .cart a {
  background: none repeat scroll 0 0 #fff;
  display: block;
  cursor: pointer;
  border: 1px solid #d8d8d8;
  height: 18px;
  line-height: 17px;
  margin-top: 2px;
  padding-left: 25px;
  padding-right: 6px;
}

#site-nav .quick-menu .cart #mc-menu-hd {
  height: 18px;
  line-height: 17px;
  margin: 2px 0 0;
  overflow: hidden;
  padding-right: 6px;
  position: relative;
  width: 70px;
}

#site-nav .quick-menu .cart #mc-menu-hd .mc-count {
  font-weight: 700;
  color: #f50;
}

#site-nav .quick-menu .cart .car {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 5px;
  top: 1px;
  background-position: -100px -21px;
}

#site-nav .quick-menu .phone {
  background: 0;
}

#site-nav .quick-menu .phone em {
  display: block;
  font-size: 15px;
  color: #f50;
  height: 16px;
  width: 116px;
  padding-bottom: 5px;
}
